#textarea {
  display: block;
  border: 0; 
  font-size: 35px;
  font-family: 'Source Code Pro', monospace;
  resize: none;
}
body, textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#help {
  font-size: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #AAAA;
  text-decoration:none;
}
#help:hover {
  color: #555F;
}
