#textarea {
  display: block;
  width: 100%;
  min-height: 100vh;
  border: 0; 
  font-size: 35px;
  font-family: 'Source Code Pro', monospace;
  resize: none;
}
.dark #textarea {
  background-color: #111;
  color: #EEE;
}
body, textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#help {
  font-size: 30px;
  position: fixed;
  bottom: 0;
  right: 20px; /*Account for the scrollbar*/
  text-decoration:none;
  font-weight: bold;
  font-family: 'Quattrocento', serif;
}
.light #help, .dark #help:hover {
  color: #AAAA;
}
.light #help:hover, .dark #help {
  color: #555F;
}
